* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background: linear-gradient(to right, #f0f0f0, #ffffff);
}
.container{
    background: linear-gradient(to right, #3a0c0c, #ffffff);
}
.BoxShadow{
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, #f0f0f0, #ffffff);
    margin-left: auto;
    margin-right: auto;
} */
body {
    font-family: Montserrat, sans-serif;
    background-color: #ecf0f3;
}

.NavBar {
    background-color: #ecf0f3;
    max-width: 1850px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: flex;
    float: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.NavBar div a {
    background-color: #ecf0f3;
    height: 100px;
    display: flex;
    float: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    gap: 15px;
    text-decoration: none;
}


.NavBar h2 {
    font-size: 18px;
    color: rgb(77, 77, 77);
}

.Logo_image {
    width: 70px;
    border: 3px solid rgb(185, 185, 185);
    border-radius: 100px;
    background-color: rgb(52, 52, 56);

}

.NavBar ul {
    display: flex;
    float: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding-right: 100px;
}


ul li a {
    text-decoration: none;
    font-size: 13.5px;
    color: rgb(110, 110, 110);
}

ul li a:hover {
    color: black;
    transition: all ease-out;
}

#MenuIcon {
    display: none;
}

.CallToAction {
    display: block;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
    padding: 16px 15px;
    color: #ff014f;
    text-decoration: none;
    font-weight: lighter;
    font-size: 13px;
    background-color: rgb(247, 247, 247);
    border-radius: 6px;
}

.CallToAction:hover {
    background: #ff014f;
    color: #ecf0f3;
    transition: all 0.1s step-end;
}

.container {
    width: 86%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 110px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding-bottom: 75px;
}

.span1 {
    font-weight: 500;
    color: #464646;
}

.name2 {
    font-size: 55px;
    padding-top: 20px;
}

.name2 span {
    color: #ff014f;
}

.name3 {
    font-size: 55px;
    color: #ff014f;
}

.ImageBox {
    width: 435px;
    height: 350px;
    margin-left: 20px;
    margin-top: 50px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.positioned {
    position: relative;
    bottom: 150px;
    right: 35px;
}

p {
    color: #858484;
    line-height: 32px;
    padding-top: 20px;
    font-weight: lighter;
}

.mydiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}

.childbox {
    height: 55px;
    width: 55px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
    background-color: #ff014f;
    padding: 19px;
    border-radius: 5px;
}

.childbox i {
    color: rgb(58, 58, 58);
}

.MainDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    padding-top: 25px;
}

.MainBox {
    padding-top: 40px;
}

.Sicons {
    height: 20px;
    align-items: center;
}

section {
    padding-top: 70px;
    padding-bottom: 10px;
}

.MainDiv h4 {
    font-weight: lighter;
    color: #464646;
}

/* ----------------------------Media Query starts here------------------------------------- */

@media screen and (max-width: 480px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 1200px) {}